<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/contact.css">
    <title>PPE Detection</title>
</head>
<body>
<header class="header">
    <a href="/" class="logo">
        <img src="../static/img/protective-gear.png" alt="Gear Icon" width="25" height="25">GearCheck AI
    </a>
    <nav class="nav">
        <a href="/home">Home</a>
        <a href="/home#about">About</a>
        <a href="/contact_us">Contact Us</a>
        <a href="/login">Log out</a>
    </nav>
</header>
<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p>Welcome to GearCheck AI. We're thrilled to hear from you. Whether you have questions about our AI-powered
            gear inspection solutions, need assistance with your account,
            or simply want to provide feedback, we're here to help. Feel free to reach out to us using the contact form
            below, and our team will get back to you as soon as possible.
            You can also email us directly, or give us a call. Thank you for choosing GearCheck AI. We look forward to
            assisting you!</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon">
                    <ion-icon name="person"></ion-icon>
                </div>
                <div class="text">
                    <h3>Name</h3>
                    <p>Muhammad Bilal<br>Simran Modi<br>Krishna Zala<br>Gowtham Katari</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <ion-icon name="location"></ion-icon>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>500 Macpherson Ave,<br>Toronto, ON<br>M5R 1M3</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <ion-icon name="call"></ion-icon>
                </div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>+1 (647) 886 5749</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <ion-icon name="mail"></ion-icon>
                </div>
                <div class="text">
                    <h3>Email</h3>
                    <p>bilal.dilbar54@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea></textarea>
                    <span>Type your Message...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <p>©2024 GEARCHECK AI | All Rights Reserved</p>
</footer>
</body>
</html>