<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>PPE Detection</title>
</head>
<body>
<header class="header">
    <a href="/" class="logo">
        <img src="../static/img/protective-gear.png" alt="Gear Icon" width="25" height="25">GearCheck AI
    </a>
    <nav class="nav">
        <a href="/home">Home</a>
        <a href="/home#about">About</a>
        <a href="/contact_us">Contact Us</a>
        <a href="/login">Log out</a>
    </nav>
</header>
<section class="home">
    <div class="content">
        <h1>!</h1>
    </div>
    <div class="box-container">
        <div class="box">
            <i class="construction-model">
                <ion-icon name="construct"></ion-icon>
            </i>
            <h3>Construction Site PPE Detection</h3>
            <p>Implementation of AI-powered technology specifically tailored for ensuring compliance with
                Personal Protective Equipment (PPE) regulations at construction sites.</p>
            <button type="submit" class="btn" onclick="window.location.href = '/const_video_det';" style="width: 150px; height: 50px; font-size: 0.7em; margin-top: 37px">Try Image/Video</button>
            <button type="submit" class="btn" onclick="window.location.href = '/const_webcam_det';" style="width: 120px; height: 50px; font-size: 0.7em">Try Webcam</button>
        </div>
        <div class="box">
            <i class="medical-model">
                <ion-icon name="medkit"></ion-icon>
            </i>
            <h3>Medical PPE Detection</h3>
            <p>Utilization of cutting-edge AI technology to monitor and enforce the proper usage of
                Personal Protective Equipment (PPE) within medical environments.</p>
            <button type="submit" class="btn" onclick="window.location.href = '/med_video_det';" style="width: 150px; height: 50px; font-size: 0.7em; margin-top: 37px">Try Image/Video</button>
            <button type="submit" class="btn" onclick="window.location.href = '/med_webcam_det';" style="width: 120px; height: 50px; font-size: 0.7em">Try Webcam</button>
        </div>
        <div class="box">
            <i class="custom-model">
                <ion-icon name="git-compare"></ion-icon>
            </i>
            <h3>Custom PPE Detection</h3>
            <p>Offers tailored solutions to meet the specific safety needs of diverse work environments.</p>
            <p>Do you have special requirements when it comes to PPE and safety gear detection?
                If yes then get in touch with our team to create a custom solution.</p>
            <button type="submit" class="btn" onclick="window.location.href = '/custom_video_det';" style="width: 150px; height: 50px; font-size: 0.7em">Try Image/Video</button>
            <button type="submit" class="btn" onclick="window.location.href = '/custom_webcam_det';" style="width: 120px; height: 50px; font-size: 0.7em">Try Webcam</button>
        </div>
    </div>
</section>
<section class="about">
    <h1 class="heading" id="about">About</h1>
    <h3 class="title">What is PPE detection?</h3>
    <div class="row">
        <div class="content">
            <p>Personal Protective Equipment (PPE) detection is a technological solution designed to enhance
                workplace safety by automatically identifying instances of non-compliance with safety regulations
                regarding the use of Personal Protective Equipment. This technology utilizes cameras and
                sophisticated deep-learning algorithms to analyze real-time footage or images captured within
                work environments, such as construction sites, mines, manufacturing facilities, healthcare settings,
                and more.</p>
        </div>
        <div class="image">
            <img src="../static/img/detect.png" alt="workplace">
        </div>
    </div>
</section>
<section class="about2">
    <h3 class="title">What are the benefits of PPE detection?</h3>
    <section class="ppe">
        <div class="ppe-img">
            <img src="../static/img/ppe.jpeg" alt="PPE">
        </div>
    </section>
    <div class="row">
        <div class="box-container">
            <div class="box">
                <i class="automation">
                    <img src="../static/icon/motion-sensor.png" alt="Gear Icon" width="50" height="50">
                </i>
                <h3>Fully automated</h3>
                <p>It is almost impossible to check whether workers are wearing hard hats and other PPE at all times
                    simply using human labor. Automated PPE detection through AI cameras and video analytics is a
                    perfect solution in a multitude of settings.</p>
            </div>
            <div class="box">
                <i class="notifications">
                    <ion-icon name="notifications-circle-outline"></ion-icon>
                </i>
                <h3>Timely notifications</h3>
                <p>As soon as a hard hat or any other PPE is removed by a worker, a customizable alarm will
                    immediately sound and the security personnel will receive an instant notification.
                    This minimizes the time a worker would be in danger.</p>
            </div>
            <div class="box">
                <i class="implement">
                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                </i>
                <h3>Easy to implement</h3>
                <p>Taking advantage of industry-leading AI algorithms, the technology brings accurate PPE detection
                    to a selection of hardware – from video cameras to access control equipment – so as to ensure worker
                    safety in hazardous environments.</p>
            </div>
        </div>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <p>©2024 GEARCHECK AI | All Rights Reserved</p>
</footer>
</body>
</html>