<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/medical.css">
    <title>PPE Detection</title>
</head>
<body>
<header class="header">
    <a href="/" class="logo">
        <img src="../static/img/protective-gear.png" alt="Gear Icon" width="25" height="25">GearCheck AI
    </a>
    <nav class="nav">
        <a href="/home">Home</a>
        <a href="/home#about">About</a>
        <a href="/contact_us">Contact Us</a>
        <a href="/login">Log out</a>
    </nav>
</header>
<section class="home">
    <div class="content">
        <h1>HEALTHCARE FACILITIES PPE</h1>
    </div>
    <div class="box-container">
        <div class="box3">
            <i class="construction-model"></i>
            <h3>Construction Sites</h3>
            <p>Automated PPE detection helps the construction business reduce security costs and enjoy more intelligent,
                more effective security overall.</p>
        </div>
        <div class="box2">
        </div>
        <div class="box4">
            <i class="mines-model"></i>
            <h3>Mines</h3>
            <p>Remote PPE checks through video help managers ensure miners are wearing hard hats and other
                PPE in hazardous mining environments.</p>
        </div>
    </div>
</section>
<section class="home2">
    <div class="btn-model">
        <p>The Healthcare Facilities PPE (Personal Protective Equipment) Detection System is a comprehensive solution
            designed to ensure the proper usage of PPE among healthcare professionals in medical facilities. By
            leveraging advanced technologies such as computer vision and artificial intelligence (AI), this system
            automates the detection and monitoring of PPE compliance, thereby enhancing safety protocols and reducing
            the risk of infection transmission within healthcare settings.</p>
        <h3>Try Out Medical PPE Detection Model:</h3>
        <a href="/med_video_det">Insert Image/Video</a><a href="/med_webcam_det">Use Webcam</a>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <p>©2024 GEARCHECK AI | All Rights Reserved</p>
</footer>
</body>
</html>